// .curve{
//     .curveSvg, .background{
//         // bounding box of svg
//         width: 100vw;
//         height: calc(100vh + 600px); // height longer than window height
//         top: -300px; // to center the page 
//         left: 0;
//         position: fixed;
//         pointer-events: none;
//     }

//     .background {
//         background-color: black;
//     }
// }

.curve{
    .curveSvg, .background{
        position: fixed;
        height: calc(100vh + 600px);
        width: 100vw;
        pointer-events: none;
        z-index: 99;
        left: 0;
        top: 0;

    }
    .background{
        background-color: black;
        transition: opacity 0s linear 0.1s;
        opacity: 1;
        z-index: 99;
    }
    .route{
        position: absolute;
        left: 50%;
        top: 40%;
        color: white;
        font-size: 46px;
        z-index: 3;
        transform: translateX(-50%);
        text-align: center;
        z-index: 100;
    }

    .counterLoader {
        position: absolute;
        top: 45%;
        left: 1.4%;
        color: black;
        font-size: 50px;
        z-index: 100;
    } 

}